body {margin: 0; padding: 0; background-color: #ffffff; font-family: 'Noto Sans KR', sans-serif; height: 100vh; display: flex; justify-content: center; align-items: center;}

.B2 input[type="submit"] {width: 100%; padding: 12px; background-color: black; color: white; border: none; border-radius: 6px; font-size: 16px; cursor: pointer;}

.B2 h2 {text-align: center;}